@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.root {
  padding: 0;

  :global(.row) {
    width: 100%;
  }

  .ad {
    height: 197px;
    width: 100%;
    color: #ffffff;
    background-color: $dark-value-3;

    h1 {
      font-size: 54px;
      font-weight: 300;
      span {
        font-weight: 600;
      }
    }

    h2 {
      font-size: 24px;
      font-weight: 300;
      letter-spacing: 12px;
      span {
        color: $orange-main;
      }
    }
  }

  .breadcrumbBar {
    height: 47px;
    width: 100%;
    padding: 10px;
    background-color: #e2e2e2;

    .breadcrumb {
      padding: 0 5px;
      color: $dark-value-3;
      text-transform: capitalize;
      font-size: 13px;
      font-weight: 400;

      span {
        font-weight: 600;
        color: $orange-main;
      }
    }
  }

  .productList {
    .header {
      border-bottom: 1px solid $dark-value-3;
      padding-bottom: 14px;
    }

    .categoryName {
      font-size: 22px;
      font-weight: 600;
    }

    .dropdownInput {
      label {
        font-size: 14px;
        padding-right: 10px;
      }

      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 34px;
        font-size: 14px;
        color: #939393;
        border: 1px solid #b7b7b7;
        padding: 5px 10px;
        background-image: linear-gradient(45deg, transparent 50%, #939393 50%),
          linear-gradient(135deg, #939393 50%, transparent 50%);
        background-position: calc(100% - 15px) calc(100% - 14px), calc(100% - 10px) calc(100% - 14px);
        background-size: 5px 5px, 5px 5px;
        background-repeat: no-repeat;
      }
    }

    .sortByInput {
      select {
        width: 194px;
      }
    }

    .showInput {
      select {
        width: 68px;
      }
    }

    .view {
      width: 67px;
      height: 34px;
      border: 1px solid #b7b7b7;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .icon:hover {
        color: $orange-main;
      }
    }
  }

  .filtres {
    .header {
      border-bottom: 1px solid $dark-value-3;
      margin-bottom: 14px;
    }

    .title {
      color: $dark-value-3;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
    }

    .filtresList {
      display: block;
      margin-bottom: 14px;
      font-size: 13px;

      ul {
        line-height: 34px;
        padding: 0;

        li {
          display: flex;
          justify-content: space-between;

          span {
            position: relative;
          }

          .count {
            background-color: $black;
            color: $white;
            text-align: center;
            height: 23px;
            width: 23px;
            line-height: 23px;
            border-radius: 50%;
          }

          .colorFilterBox {
            display: inline-block;
            width: 13px;
            height: 13px;
            border-radius: 2px;
            margin-right: 10px;

            &.red {
              background-color: #fa5f66;
            }
            &.black {
              background-color: #454545;
            }
            &.yellow {
              background-color: #e9e600;
            }
            &.blue {
              background-color: #0190d3;
            }
            &.pink {
              background-color: #f72fe4;
            }
            &.green {
              background-color: #14d400;
            }
          }

          input[type='checkbox'] {
            -webkit-appearance: none;
            height: 13px;
            width: 13px;
            border: 1px solid $black;
            border-radius: 2px;
            margin-right: 10px;

            &:checked {
              background-color: $orange-main;
              border-color: $orange-main;
            }
          }

          label {
            padding-left: 10px;
          }

          .tagFilter li {
            flex-direction: row;
          }

          .tag {
            margin: 0 16px 12px 0;
            padding: 0 12px;
            border: 1px solid $light-value-4;
            display: inline;

            .span {
              padding-left: 5px;
            }
          }

          &:hover {
            color: $orange-main;
            .count {
              background-color: $orange-main;
            }
            .tag {
              border: 1px solid $orange-main;
            }
          }

          &.active {
            color: $orange-main;
            .filterName {
              left: 15px;
            }
            .count {
              background-color: $orange-main;
            }
            .tag {
              border: 1px solid $orange-main;
            }
          }
        }
      }
    }
  }
}
