@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.root {
  padding: 0;

  :global(.container) {
    width: 1140px;
  }

  :global(.row) {
    width: 100%;
    display: flex;
  }

  .ad {
    height: 197px;
    width: 100%;
    color: #ffffff;
    background-color: $dark-value-3;

    h1 {
      font-size: 54px;
      font-weight: 300;
      span {
        font-weight: 600;
      }
    }

    h2 {
      font-size: 24px;
      font-weight: 300;
      letter-spacing: 12px;
      span {
        color: $orange-main;
      }
    }
  }

  .breadcumb {
    height: 47px;
    background-color: #e2e2e2;  }
}
