@import "../../../styles/settings.scss";

// .root {
// }

.main {
  background-color: $btn-dark-background;
  color: $btn-dark-text;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;

  &:not(.noHover):hover {
    color: $btn-dark-text !important;
    background-color: $btn-dark-background-hover;
    text-decoration: none;
  }

  &:hover {
    transform: translateX(20%);
    background-color: $orange-main;
    color: $white;
    transition: $transition-time linear;
    cursor: pointer;
  }
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;

  &:hover {
    transform: translateY(20%);
    background-color: $dark-value-3;
    color: $white;
    transition: $transition-time ease-in-out;
    cursor: pointer;
  }
}

.outline {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $btn-light-border;
  color: $btn-light-text;
  font-size: 13px;
  line-height: 22px;

  &:not(.noHover):hover {
    background-color: $btn-light-background-hover;
    color: $btn-light-text-hover;
  }

  &:hover {
    transform: translateX(20%);
    background-color: $dark-value-3;
    color: $white;
    transition: $transition-time linear;
    cursor: pointer;
  }
}

.gallerySlider{
  display: inline-block;
  width: 38px;
  padding: 5px 10px;
  line-height: 22px;
  border: $gallery-text-color 1px solid ;
  color: $gallery-text-color;
  font-size: 12px;

  &:hover {
    border-color: $gallery-orange;
    color: $gallery-orange;
    transition:all $transition-time ease;
    cursor: pointer;
  }
}

.gallery {
  display: inline-block;
  padding: 10px 30px;
  color: $gallery-text-color-light;
  border: 1px solid $gallery-green;
  border-radius: 5px;
  background-color: $gallery-green;
  font-size: 12px;
  line-height: 22px;

  &:hover{
    text-decoration: none;
    border-color: $gallery-orange;
    color: $gallery-text-color;
    cursor: pointer;
  }
}

.galleryArrow {
  @extend .main;
  padding: 20px 7px;
  height: 60px;
  width: 25px;
}

.login {
  background-color: $btn-dark-background;
  color: $btn-dark-text;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;

  &:hover {
    background-color: $orange-main;
    color: $white;
    cursor: pointer;
  }
}
