@import "../../../styles/settings.scss";
@import "../../../styles/mixins.scss";

.root {
  background-color: $header-topbar-bg;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      line-height: 55px;

      a {
        color: #ffffff;
        font-size: 13px;

        &:hover {
          color: $primary;
          text-decoration: none;
        }
      }
    }
  }

  .topOptions {
    @include mobile {
      padding-right: 0;
      flex-grow: 2;
    }

    & ul li {
      margin-right: 10px;

      .icon {
        margin-left: 5px;
      }
    }
  }

  .topMenu ul li {
    margin-left: 1.5rem;

    @include mobile-small {
      margin-left: 1rem;
    }

    .icon {
      margin-right: 5px;

      @include mobile {
        margin: 0;
      }
    }

    .text {
      @include mobile {
        display: none;
      }
    }
  }
}
