@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.root {
  background-color: $header-topbar-bg;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      line-height: 55px;

      a {
        color: $topbar-text;
        font-size: 13px;
        display: flex;
        align-items: center;

        &:hover {
          color: $topbar-text-hover;
          text-decoration: none;
        }
      }
    }
  }

  .topOptions {
    @include mobile {
      padding-right: 0;
      flex-grow: 2;
    }

    ul li {
      color: $white;
      font-size: 13px;
      background-color: $header-topbar-bg;
      padding: 0 10px;
      .icon {
        margin-left: 5px;
      }
    }

    ul ul {
      display: inline-block;
      z-index: 1;
    }

    ul ul ul {
      display: none;
      position: absolute;
      top: 40px;

      &.currency {
        left: 15px;
        width: 60px;
      }

      &.language {
        left: 75px;
        width: 80px;
      }

      &.help {
        left: 155px;
        width: 60px;
      }
    }

    ul ul:hover ul {
      display: block;
    }

    ul ul ul li {
      display: block;
      line-height: 25px;
    }
  }

  .topMenu ul li {
    margin-left: 1.5rem;

    @include mobile-small {
      margin-left: 1rem;
    }

    .icon {
      margin-right: 5px;

      @include mobile {
        margin: 0;
      }
    }

    .text {
      @include mobile {
        display: none;
      }
    }
  }
}
