@import "../../../styles/settings.scss";
@import "./../../../styles/mixins.scss";



.root {
  background-color: $gallery-background;

  .gallerySlider {
    @include tablet {
      display: contents;
    }
  }
  
  .imageWrapper {
    position: relative;
    width: 100%;
    height: 600px;

    @include tablet {
      display: none;
    }

    .image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .content {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 50%;
      padding: 40px 30px 0px;

      div {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;

        h6 {
          color: $gallery-text-color;
          text-transform: lowercase;
          padding-bottom: 2px;
          font-weight: 200;
        }  

        h1 {
          color: $gallery-green;
          font-weight: 600;
          padding-left: 10px;          
      }

      h1 {
        color: $gallery-orange;
        font-weight: 600;
      }
    }
  }
}}