@import '../../../styles/settings.scss';

.root {
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;

  .category {
    border-right: 1px solid $form-border-color;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    .icon:first-child {
      color: $primary;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 10px 30px 10px 35px;
      z-index: 1;
    }

    ul ul {
      display: none;
      position: absolute;
      padding: 10px 0 0 0;
      width: 207px;
      left: -1px;
    }

    ul:hover ul {
      display: block;
    }

    ul ul li {
      border: 1px solid $form-border-color;
      background-color: #ffffff;

      &:not(:last-child) {
        border-bottom: none;
      }

      &:hover {
        background-color: $primary;

        a {
          color: #ffffff;
        }
      }
    }


    a {
      color: $text-color;
      text-decoration: none;
      padding: 10px 30px 10px 35px;
      display: flex;
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-color;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}
