@import "../../../styles/settings.scss";
@import "./../../../styles/mixins.scss";

.root {
  padding: 5rem 0;
  width: 100%;

  .animationFeatureBox {
    animation: nav-load 1000ms ease-in;
  }

  :global(.row) {
    @include tablet {
      width: 100%;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      width: 100%;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    :global(.col):nth-child(n + 3) {
      @include mobile {
        margin-top: 2rem;
      }
    }
  }
}

@keyframes nav-load {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
